<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>İşkuriyer - sizinde bir siteniz olsun</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Fonts Online -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Style Sheet -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/main-style.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>
    <div id="main-wrapper">

        <!-- Top Toolbar -->
        <div class="toolbar">
            <div class="uou-block-1a blog">
                <div class="container">
                    <div class="search">
                        <a href="#" class="toggle fa fa-search"></a>
                        <form action="#">
                            <input type="text" class="search-input" placeholder="Arama ...">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                    </ul>
                    @if (Session["KursiyerLogin"] == null && Session["SirketLogin"] == null)
                    {

                        <ul class="authentication">
                            <li><a href="/Home/Login">Giriş Yap</a></li>
                            <li><a href="/Home/Register">Kayıt Ol</a></li>
                        </ul>
                    }

                </div>
            </div>
            <!-- end .uou-block-1a -->
        </div>
        <!-- end toolbar -->

        <div class="box-shadow-for-ui">
            <div class="uou-block-2b">
                <div class="container">
                    <a href="/Home/Index" class="logo"><img src="~/images/logo.png" alt=""></a> <a href="/Home/Index" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
                    <nav class="nav">
                        <ul class="sf-menu">
                            <li class="active"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i></a></li>
                            @if (Session["SirketLogin"] != null)
                            {
                                <li>@Html.ActionLink("Profesyoneller", "GetEmployee", "Employee")</li>

                                <li>@Html.ActionLink("Şirket Profili", "BusinessProfile", "Profile")</li>
                                <li> <a href="~/Home/LogOut"> <i class="fa fa-sign-out"></i> Oturumu sonlandır </a> </li>

                            }
                            @*<li> @Html.ActionLink("Kullanıcı Paneli", "UserDash", "Profile")</li>*@
                            @if (Session["KursiyerLogin"] != null)
                            {
                                <li>@Html.ActionLink("Profesyoneller", "GetEmployee", "Employee")</li>

                                <li> @Html.ActionLink("Kullanıcı Profili", "UserProfile", "Profile")</li>
                                <li> <a href="~/Home/LogOut"> <i class="fa fa-sign-out"></i> Oturumu sonlandır </a> </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end .uou-block-2b -->
        </div>

        <!-- HOME PRO-->
        @RenderBody()
    </div>

    <!-- Footer -->
    <div class="uou-block-4e">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="logo"><img src="~/images/logo.png" alt=""></a>
                    <ul class="contact-info has-bg-image contain" data-bg-image="~/images/footer-map-bg.png">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <address>
                                Adres Bilgisi
                            </address>
                        </li>
                        <li> <i class="fa fa-phone"></i> <a href="tel:#">tel no</a> </li>
                        <li> <i class="fa fa-envelope"></i> <a href="mailto:#">mail@adresi.com</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Twitter Beslemesi</h5>
                    <ul class="twitter-feed">
                        direk twitterdan alınacak
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>FOTO GALERİ</h5>
                    <ul class="photos-list">
                        <li><img src="~/images/photostream4.jpg" alt=""></li>
                        <li><img src="~/images/photostream6.jpg" alt=""></li>
                        <li><img src="~/images/photostream3.jpg" alt=""></li>
                        <li><img src="~/images/photostream2.jpg" alt=""></li>
                        <li><img src="~/images/photostream1.jpg" alt=""></li>
                        <li><img src="~/images/photostream.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Bülten</h5>
                    <p>En son haberleri almak isterseniz mail adresinizi girebilirsiniz.</p>
                    <form class="newsletter-form" action="#">
                        <input type="email" placeholder="Enter your email address">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end .uou-block-4e -->

    <div class="uou-block-4a secondary dark">
        <div class="container">
            <ul class="links">
                <li><a href="#">Gizlilik Politikası</a></li>
                <li><a href="#">Şartlar &amp; Koşullar</a></li>
            </ul>
            <p><a href="#">İşkuriyer</a> &copy; @DateTime.Now.Year. Her Hakkı Saklıdır.</p>
        </div>
    </div>
    <!-- end .uou-block-4a -->

    <div class="uou-block-11a">
        <h5 class="title">Menü</h5>
        <a href="#" class="mobile-sidebar-close">&times;</a>
        <nav class="main-nav">
            <ul>
                <li class="active"><a href="@Url.Action("Index", "Home")"><i class="fa  fa-home"></i></a></li>
                <li>@Html.ActionLink("Profesyoneller", "GetEmployee", "Employee")</li>
                <li>@Html.ActionLink("Şirket Profili", "BusinessProfile", "Profile")</li>
                <li> @Html.ActionLink("Kullanıcı Paneli", "UserDash", "Profile")</li>
                <li> @Html.ActionLink("Kullanıcı Profili", "UserProfile", "Profile")</li>
            </ul>
        </nav>
        <hr>
    </div>

    <!-- Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="~/js/jquery-2.1.3.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/plugins/superfish.min.js"></script>
    <script src="~/js/jquery.ui.min.js"></script>
    <script src="~/js/plugins/rangeslider.min.js"></script>
    <script src="~/js/plugins/jquery.flexslider-min.js"></script>
    <script src="~/js/uou-accordions.js"></script>
    <script src="~/js/uou-tabs.js"></script>
    <script src="~/js/plugins/select2.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/gmap3.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script>

    </script>
</body>
</html>
